.app {
    // background-color: #1C3FAA;
    background-color: #2392c8;
    padding: 20px 12px;
    min-height: 100vh;
    max-width: 768px;
    margin: 0 auto;


    &__content {
        // background-color: #F1F5F8;
        background-color: #E2EEFF;

        min-height: 100vh;
        border-radius: 30px;
        padding: 0 16px;
        padding-bottom: px;
    }
}