.chatlist {
    display: flex;
    padding: 20px;
    align-items: center;
    background-color: white;
    border-radius: 6px;

    &__ava {
        width: 48px !important;
        height: 48px !important;
    }


    &__info {
        margin-left: 12px;
        flex: 1;

        h3 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 14px;
            color: #2d3748;
            line-height: 21px;

            span {
                // margin-left: auto;
                line-height: 18px;
                font-size: 12px;
                color: #a0aec0;
            }
        }

        p {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: #718096;
            width: 200px;
            font-size: 14px;
            line-height: 21px;
        }
    }
}