* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
}

.app {
  background-color: #1C3FAA;
  padding: 20px 12px;
  min-height: 100vh;
  max-width: 360px;
  margin: 0 auto;
}

.app__content {
  background-color: #F1F5F8;
  min-height: 100vh;
  border-radius: 30px;
  padding: 0 16px;
  padding-bottom: 40px;
}

.login {
  color: white;
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 100vh;
}

.login__container {
  padding: 83px;
  text-align: center;
  border-radius: 10px;
}

.login__container img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100px;
  margin-bottom: 40px;
}

.login__container button {
  margin-top: 50px;
  text-transform: inherit !important;
  background-color: white;
  color: blue;
}

.front__topbar {
  height: 67px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto 1fr;
      grid-template-columns: auto auto 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid;
  border-color: #dee7ef;
}

.front__topbar .searchicon {
  margin-right: 12px;
}

.front__topbar .logo {
  width: 32px;
  height: 32px;
  -ms-grid-column-align: end;
      justify-self: end;
}

.front__intro {
  margin-top: 32px;
}

.front__intro h2 {
  font-size: 1.125rem;
  margin-right: auto;
  font-weight: 500;
}

.front__intro .addchat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}

.front__intro .addchat button {
  border: none;
  outline: none;
  background-color: #1C3FAA;
  color: white;
  padding: 0.5rem 0.75rem;
  border-radius: 0.375rem;
  font-weight: 500;
  cursor: pointer;
}

.front__intro .addchat span {
  padding: 8px;
  color: #4a5568;
  background-color: white;
  border-radius: 0.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 36px;
  height: 36px;
  cursor: pointer;
}

.front__intro .addchat span:focus {
  outline: 1px solid black;
}

.front__intro .addchat span svg {
  height: 16px;
  width: 16px;
}

.front__chat {
  margin-top: 20px;
}

.front__chat-introcontainer {
  padding: 8px;
  background-color: white;
  border-radius: 6px;
}

.front__chat-introcontainer .chatselect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.front__chat-introcontainer .chatselect button {
  width: 94.6px;
  padding: 8px 0;
  border: none;
  outline: none;
  border-radius: 6px;
  color: #2d3748;
  background-color: transparent;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  cursor: pointer;
}

.front__chat-introcontainer .chatselect .active {
  background-color: #1C3FAA;
  color: white;
}

.front__chat-search {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 6px;
}

.front__chat-search .search__input input {
  border: none;
  padding: 12px 16px;
  color: #7F9EB9;
  width: 100%;
  border-radius: 6px;
  background-color: #edf2f7;
  font-size: 14px;
  line-height: 1.15;
}

.front__chat-search .search__highlight .highlight__content {
  margin-top: 20px;
  overflow-x: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.front__chat-chatlistcon {
  margin-top: 10px;
  padding: 4px 4px 0 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 20px;
  max-height: 525px;
  overflow: scroll;
}

.minavater {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.minavater:not(:last-child) {
  margin-right: 16px;
}

.minavater p {
  font-size: 12px;
  overflow: hidden;
  margin-top: 8px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 40px;
}

.chatlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border-radius: 6px;
}

.chatlist__ava {
  width: 48px !important;
  height: 48px !important;
}

.chatlist__info {
  margin-left: 12px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.chatlist__info h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  color: #2d3748;
  line-height: 21px;
}

.chatlist__info h3 span {
  line-height: 18px;
  font-size: 12px;
  color: #a0aec0;
}

.chatlist__info p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #718096;
  width: 200px;
  font-size: 14px;
  line-height: 21px;
}

.mainchat {
  position: relative;
  top: 20px;
  background-color: white;
}

.mainchat__header {
  padding: 16px 20px;
  border-bottom: 1px solid #edf2f7;
}

.mainchat__header .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mainchat__header .header__ava {
  width: 48px !important;
  height: 48px !important;
}

.mainchat__header .header__info {
  margin-left: 12px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.mainchat__header .header__info h3 {
  font-size: 16px;
  color: #2d3748;
  line-height: 24px;
  font-weight: 600;
}

.mainchat__header .header__info p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #718096;
  width: 200px;
  font-size: 12px;
  line-height: 18px;
}

.mainchat__header .header__info p span {
  margin: 0 4px;
  font-size: 12px;
}

.mainchat__header .low {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 20px 0 20px;
  margin: 20px -20px 0 -20px;
  border-top: 1px solid #edf2f7;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainchat__header .low svg {
  color: #a0aec0;
}

.mainchat__header .low svg:not(:last-child) {
  margin-right: 20px;
  width: 24px !important;
  height: 24px !important;
}

.mainchat__header .low .vat {
  margin-left: auto;
}

.mainchat__msg {
  padding: 20px 20px 0 20px;
  overflow-y: scroll;
  height: 65vh;
}

.mainchat__msg .msgchat {
  max-width: 90%;
  padding: 12px 16px;
  margin-bottom: 16px;
  color: #4a5568;
  font-size: 14px;
  background-color: #edf2f7;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.mainchat__msg .msgchat .timestamp {
  margin-top: 4px;
  font-size: 12px;
  color: #718096;
  line-height: 18px;
}

.mainchat__footer {
  padding: 16px 0 40px 0;
  border-top-color: #edf2f7;
  border-top-style: solid;
  border-top-width: 1px;
}

.mainchat__footer form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainchat__footer form input {
  border: none;
  padding: 12px 20px;
  overflow-y: auto;
  resize: none;
  height: 46px;
  color: #a0aec0;
  border-radius: 6px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.mainchat__footer form svg {
  margin-right: 12px;
  color: #a0aec0;
}

.mainchat__footer form button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  margin-right: 20px;
  width: 2rem;
  height: 32px;
  border-radius: 9999px;
  background-color: #1C3FAA;
  display: none;
}

.msg__receiver {
  margin-left: auto !important;
  background-color: #1C3FAA !important;
  color: white !important;
  border-bottom-left-radius: 6px !important;
  border-top-left-radius: 6px !important;
  border-top-right-radius: 6px !important;
  border-bottom-right-radius: 0 !important;
}

.msg__receiver .timestamp {
  color: #C6D4FD !important;
}
/*# sourceMappingURL=style.css.map */